#motto {
  margin: 3em 0;
  font-size: 1rem;
  text-align: center;
}

#motto img {
  height: 1.5em;
  vertical-align: middle;
}

#motto div:first-child {
  font-weight: 800;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.stage {
  display: flex;
  flex-direction: row;
}

.stage>* {
  max-height: 12rem;
}

.stage>*:nth-child(2) {
  flex: 1;
  background: no-repeat center/cover url('/img/bowl_2.jpg');
}

#make_your_own {
  margin: 2em 0;
}

.grid {
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  padding: 1rem;
}

.grid a {
  width: 25%;
}

@media(orientation:landscape) {
  .grid a {
    width: 12.5%;
  }
}

.grid a img {
  width: 100%;
  height: auto;
}
