@font-face {
  font-family: DancingScript;
  src: url(/create/DancingScript-Regular.ttf);
}

#motto {
  margin: 2em 0;
  font-size: 1rem;
  text-align: center;
  color: #888;
  font-family: DancingScript;
}

#motto img {
  height: 1.5em;
  vertical-align: middle;
}

#motto div:first-child {
  font-weight: 800;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
}

.stage {
  margin-top: 2em;;
}

.stage img {
  width: 100%
}

.stage a img {
  height: inherit;
}

.stage div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stage div > * {
  flex: 1;
}

@media(orientation:portrait) {
  .stage .landscapes {
    flex-direction: column;
  }
}

#prints {
  text-align: center;
  margin: 2em 0;
}

#prints a {
  color: #ccc;
  font-size: 0.8rem;
}

#make_your_own {
  margin: 2em 0;
}

#sounds {
  text-align: center;
}

#sounds a {
  color: #ccc;
  font-size: 0.8rem;
}
