.stage {
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stage.grid>a {
  width: 33.3%;
  aspect-ratio: inherit;
}

@media(orientation:portrait) {
  .stage {
    flex-direction: column;
  }

  .stage.grid>a {
    width: 100%;
  }
}

.stage img {
  width: 100%;
}

.stage a img {
  height: inherit;
}

.stage div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.stage div>* {
  flex: 1;
}