.preview img {
  width: 100%;
}

.preview {
  text-align: center;
  margin: 1rem 0;
  height: 100vw;
}

i {
  font-style: normal;
  color: #888;
}

button {
  margin: 0 inherit;
}

#hires_buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#hires_buttons>* {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#wall_art {
  padding-bottom: 1em;
}

#wall_art img.wall {
  height: 30rem;
}

#wall_art_section button {
  text-align: center;
}

#wall_art img.inline {
  position: relative;
  width: 7.4rem;
  height: 7.4rem;
  transform: perspective(7rem) rotateX(1deg) rotateY(10deg) translate(9.8rem, 13rem);
}

#wall_art_buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
}

#hires_buttons p, #wall_art_buttons p {
  text-align: center;
  font-size: 0.85rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
