p {
  text-align: center;
}

#info {
  height: 0;
  position: absolute;
  font-size: 0.75rem;
  padding: 0.5em;
}

#fps {
  position: relative;
  left: 0;
  top: 0;
  z-index: 1;
  background: #000;
}

#fullscreen {
  margin: 0 auto;
}

canvas#webgl {
  width: 100%;
  margin: 2em 0;
}

img {
  border: none;
  outline: none;
}
