p {
  text-align: center;
}

#info {
  display: flex;
  color: #888;
}

#info span {
  padding: 1em;
}

#fullscreen, #download {
  cursor: pointer;
  opacity: 0.5;
}

#fullscreen:hover, #download:hover {
  opacity: 1;
}

canvas#webgl {
  width: 100%;
  margin-top: 2em;
}

img {
  border: none;
  outline: none;
}
