p {
  text-align: center;
}

#info {
  display: flex;
  font-size: 0.75rem;
}

#info span {
  background: #000;
  padding: 0.5em;
}

#fullscreen {
  margin: 0 auto;
}

canvas#webgl {
  width: 100%;
  margin-top: 2em;
}

img {
  border: none;
  outline: none;
}
