body:not(.debug) .dg.ac {
  display: none;
}

canvas#wave {
  width: 100%;
}

body.final #disk {
  display: none;
}

body:not(.final) #final {
  display: none;
}

p {
  text-align: center;
}

.extras {
  color: #888;
}

#record,
#stop_recording {
  z-index: 1;
  background: #211;
  padding: 0.5em;
  border-radius: 2.5em;
  font-family: monospace;
  transition: all 250ms;
}

#stop_recording span {
  padding: 0 0.5em;
}

#record img,
#stop_recording img {
  background: #711;
  border-radius: 50%;
  padding: 0.5em;
  transition: all 250ms;
}

#record:hover {
  background: #311;
  padding: 0.3em;
}

#record:hover img {
  padding: 0.7em;
  background: #911;
}

#stop_recording:hover img {
  background: #911;
}

#stop_recording {
  display: none;
}

body.recording #stop_recording {
  display: inherit;
}

body.recording #record {
  display: none;
}

#upload,
#play_sound,
#download_image,
#show_settings,
#download_audio {
  text-align: center;
  cursor: pointer;
}

#audio_name {
  margin: 0;
  position: absolute;
  top: 1em;
  left: 0;
}

body:not(.debug) #audio_info {
  display: none;
}

#audio_info {
  margin: 0;
  position: absolute;
  top: 1em;
  right: 0;
}

#wave_wrapper {
  margin: 0;
}

#wave_wrapper_1 {
  position: relative;
  height: 0;
}

#wave_wrapper_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#wave_wrapper_3 {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

canvas#wave {
  background: #335;
}

body.recording #wave_bounds {
  display: none;
}

#wave_bounds {
  height: 0;
  position: relative;
}

#wave_bounds>* {
  position: absolute;
  top: 0;
  background: #112c;
}

canvas#wave,
#wave_wrapper_2,
#wave_bounds>* {
  height: 6rem;
}

#wave_start {
  left: 0;
  width: 25vw;
}

#wave_end {
  right: 0;
  width: 25vw;
}

#wave_end #wave_label {
  position: absolute;
  color: #fff;
  background: #112;
  opacity: 0.5;
  border-radius: 0.5em;
  font-size: 0.75rem;
  padding: 0.5em;
  left: -0.5em;
  top: 0.5em;
  transform: translateX(-100%);
  white-space: nowrap;
}

#wave_bounds .ptr {
  cursor: pointer;
  position: absolute;
  font-size: 1vw;
  width: 5em;
  height: 100%;
  background: no-repeat center/100% url("/img/ico/vert.png"), #446;
  border-radius: 2.5em;
  display: flex;
  align-items: center;
  user-select: none;
  transition: all 250ms;
}

@media(orientation:landscape) {
  #wave_bounds .ptr {
    width: 3vw;
    border-radius: 1.5vw;
  }
}

#wave_bounds .ptr span {
  width: 100%;
  text-align: center;
  font-weight: 900;
}

#wave_bounds .ptr:hover {
  background-color: #888;
  color: #000;
}

#wave_bounds .ptr.left {
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid #668;
}

#wave_bounds .ptr.right {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #668;
}

#art_main {
  position: relative;
}

#img_info {
  position: relative;
  height: 0;
}

#download_image {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

#show_settings {
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
}

#wave_play_info {
  position: relative;
  height: 0;
}

#play_sound {
  position: absolute;
  left: 0;
  bottom: 0;
  bottom: 0.5em;
}

#download_audio {
  position: absolute;
  right: 0.5em;
  bottom: 0.5em;
}

button.small_btn {
  font-size: 0.5rem;
  padding: 0.5em 1em;
  margin: 0.5em;
  border-radius: 1em;
  background-color: #222;
  opacity: 0.25;
  transition: all 250ms;
}

button.small_btn:hover {
  opacity: 1.0;
}

#settings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1em;
  position: absolute;
  bottom: 3em;
}

body:not(.settings) #settings {
  display: none;
}

.setting:first-child {
  display: none;
}

.setting {
  --color1: #224;
  font-size: 0.75em;
  color: #888;
  display: inline-block;
  user-select: none;
}

.setting.debug {
  --color1: #422;
}

.setting * {
  text-decoration: none;
  font-style: normal;
}

.setting div {
  font-weight: bold;
  text-align: right;
  width: 6em;
  padding-right: 0.5em;
  display: inline-block;
}

.setting span {
  border: 1px solid var(--color1);
  width: 8em;
  display: inline-block;
  text-align: center;
  background: #000;
}

.setting s:not(:empty) {
  font-weight: normal;
  padding-left: 0.5em;
}

.setting i,
.setting b {
  cursor: pointer;
  user-select: none;
  padding-left: 0.75em;
  padding-right: 0.75em;
  background: var(--color1);
  border: 1px solid var(--color1);
  color: #888;
  border-radius: 0.5em;
  transition: all 250ms;
}

body:not(.debug) .setting.debug {
  display: none;
}

.setting i {
  margin-left: 0.5em;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.setting b {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.setting u {
  font-family: monospace;
  text-align: right;
}

.setting i:hover,
.setting b:hover {
  color: #fff;
}
