body:not(.debug) .dg.ac {
  display: none;
}

canvas {
  width: 100%;
}

p {
  text-align: center;
}

.extras {
  color: #888;
}

#record, #stop_recording {
  background: #211;
  padding: 0.5em;
  border-radius: 2.5em;
  font-family: monospace;
  transition: all 250ms;
}

#stop_recording span {
  padding: 0 0.5em;
}

#record img, #stop_recording img {
  background: #711;
  border-radius: 50%;
  padding: 0.5em;
  transition: all 250ms;
}

#record:hover {
  background: #311;
  padding: 0.3em;
}

#record:hover img {
  padding: 0.7em;
  background: #911;
}

#stop_recording:hover img {
  background: #911;
}

#stop_recording {
  display: none;
}

body.recording #stop_recording {
  display: inherit;
}

body.recording #record {
  display: none;
}

#upload,
#play_sound,
#download_image,
#download_audio {
  text-align: center;
  cursor: pointer;
}

#audio_name {
  margin: 0;
  position: absolute;
  top: 1em;
  left: 0;
}

#audio_info {
  margin: 0;
  position: absolute;
  top: 1em;
  right: 0;
}

#file_error:not(:empty) {
  color: #fff;
  background: #e00;
  padding: 1em;
}

#show_disk {
  color: #888;
}

canvas#disk {
  display: none;
}

body.show_disk canvas#disk {
  display: inherit;
}

body.show_disk canvas#rect {
  display: none;
}

body.show_disk #show_disk {
  color: inherit;
}

body.show_disk #show_rect {
  color: #888;
}

#wave_wrapper {
  margin: 0;
}

canvas#wave {
  background: #335;
  height: 12.5vw;
}

body.recording #wave_bounds {
  display: none;
}

#wave_bounds {
  height: 0;
  position: relative;
}

#wave_bounds>* {
  position: absolute;
  top: 0;
  height: 12.5vw;
  background: #112c;
}

#wave_start {
  left: 0;
}

#wave_end {
  right: 0;
}

#wave_end #wave_label {
  position: absolute;
  color: #fff;
  background: #112;
  opacity: 0.5;
  border-radius: 0.5em;
  font-size: 0.75rem;
  padding: 0.5em;
  left: -0.5em;
  top: 0.5em;
  transform: translateX(-100%);
}

#wave_bounds .ptr {
  cursor: pointer;
  position: absolute;
  font-size: 1vw;
  width: 5em;
  height: 100%;
  background: no-repeat center/100% url("/img/ico/vert.png"), #446;
  border-radius: 1em;
  display: flex;
  align-items: center;
  user-select: none;
  transition: all 250ms;
}

#wave_bounds .ptr span {
  width: 100%;
  text-align: center;
  font-weight: 900;
}

#wave_bounds .ptr:hover {
  background-color: #888;
  color: #000;
}

#wave_bounds .ptr.left {
  right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid #668;
}

#wave_bounds .ptr.right {
  left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-left: 1px solid #668;
}