canvas {
  width: 100%;
}

#upload, #download_image, #download_audio {
  text-align: center;
  cursor: pointer;
}

#audio_name {
  color: #fff;
  text-align: center;
}

#audio_info {
  text-align: center;
}

#file_error:not(:empty) {
  color: #fff;
  background: #e00;
  padding: 1em;
}

#wave_bounds {
  height: 0;
  position: relative;
  opacity: 0.5;
}

#wave_bounds > * {
  position: absolute;
  top: -12.5vw;
  height: 12.5vw;
  background: #4444;
}

#wave_start {
  border-right: 3px solid #fff;
  background: #888;
  left: 0;
}

#wave_end {
  border-left: 3px solid #fff;
  background: #888;
  right: 0;
}

#wave_bounds .ptr {
  position: absolute;
  font-size: 3vw;
  width: 1em;
  height: 1em;
  background: #fff;
  border-radius: 50%;
}

#wave_bounds .ptr.lt {
  right: -3px;
  top: -1em;
  border-bottom-right-radius: 0;
}

#wave_bounds .ptr.rt {
  left: -3px;
  top: -1em;
  border-bottom-left-radius: 0;
}

#wave_bounds .ptr.lb {
  right: -3px;
  top: 100%;
  border-top-right-radius: 0;
}

#wave_bounds .ptr.rb {
  left: -3px;
  top: 100%;
  border-top-left-radius: 0;
}
