#webgl {
  z-index: -1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}

#controls {
  position: fixed;
  bottom: 0.5em;
  width: 100%;
  display: flex;
  justify-content: center;
}

#audio {
  background: none;
}


